<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".ui.base.APP"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Water"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.cover.CoverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lhr.water.ui.map.MapActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>

        <activity android:name="com.lhr.water.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>

        <activity android:name="com.lhr.water.ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>

        <activity android:name="com.lhr.water.ui.qrCode.QrcodeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>

        <activity android:name="com.lhr.water.ui.formContent.FormContentActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/formContentActivityTheme"/>

        <activity android:name="com.lhr.water.ui.storageContent.StorageContentActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>

        <activity android:name="com.lhr.water.ui.storageGoodInput.StorageGoodInputActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Water"/>
    </application>

</manifest>